#Directorios Ignorados
.idea
target
BDDCore.iml
pom.xml
.gradle/2.12/taskArtifacts/cache.properties
.gradle/2.12/taskArtifacts/cache.properties.lock
.gradle/2.12/taskArtifacts/fileSnapshots.bin
.gradle/2.12/taskArtifacts/taskArtifacts.bin
CargarDatosGW/.gradle/2.12/taskArtifacts/cache.properties
CargarDatosGW/.gradle/2.12/taskArtifacts/cache.properties.lock
CargarDatosGW/.gradle/2.12/taskArtifacts/fileHashes.bin
CargarDatosGW/.gradle/2.12/taskArtifacts/fileSnapshots.bin
CargarDatosGW/.gradle/2.12/taskArtifacts/outputFileStates.bin
CargarDatosGW/.gradle/2.12/taskArtifacts/taskArtifacts.bin
CargarDatosGW/build/classes/test/main/java/core/sura/Guidewire.class
CargarDatosGW/build/libs/CargarDatosGW.jar
CargarDatosGW/build/reports/tests/classes/main.java.core.sura.Guidewire.html
CargarDatosGW/build/reports/tests/css/base-style.css
CargarDatosGW/build/reports/tests/css/style.css
CargarDatosGW/build/reports/tests/index.html
CargarDatosGW/build/reports/tests/js/report.js
CargarDatosGW/build/reports/tests/packages/main.java.core.sura.html
CargarDatosGW/build/test-results/TEST-main.java.core.sura.Guidewire.xml
CargarDatosGW/build/test-results/binary/test/output.bin
CargarDatosGW/build/test-results/binary/test/output.bin.idx
CargarDatosGW/build/test-results/binary/test/results.bin
CargarDatosGW/build/tmp/jar/MANIFEST.MF
